body {
    background-color: rgb(255, 228, 194);
} 
.headshot {
    height: auto;
    width: 20rem;
    max-width: 100%;
}
.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50rem;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
    color: rgb(54, 97, 252);
}
.cell ul,
.card-section ul {
    color:rgb(109, 89, 29);
    font-size: clamp(1rem, 1rem + 0.5vw, 1.375rem);
}
img {
    color:rgb(109, 89, 29);
}
.cell p,
.card-section p {
    color:rgb(109, 89, 29);
    font-size: clamp(1rem, 1rem + 0.5vw, 1.375rem);
}
.ust {
    color: rgb(54, 97, 252);
}
.north-shore
.i18,
.dev-box,
.inspiration-generator,
.coding,
.dogs {
    max-width: 100%;
    height: auto;
}